.container {
    background-image: url('./imgs/wallp.png');
    background-repeat: no-repeat;
    background-size: 150%;
    display: block;
    content: "";
    opacity: .5;
}

footer {
  height: 40px;
  width: 100%;
  background-color: aqua;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.homepage {
  position: relative;
  width: 350px;
}

.image {
    display: block;
    width: 350px;
    height: 370px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.homepage:hover .overlay {
  opacity: .8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}